html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

:root {
  --gap: 75px;
  --grey: #cacaca;
}

.container {
  padding: 0 var(--gap);
}

/* Header */

.header-container {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  height: 100px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  margin-bottom: 50px;
}

.header-cont__item {
  display: flex;
  position: relative;
  /* left: var(--gap); */
  top: 14px;
}

.main-logo {
  width: 224px;
  height: 72px;
}

.list_reset {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.list_flex {
  display: flex;
}

.list-nav {
  /* position: absolute;
  left:553px; */
  margin-right: 260px;
}

.header-nav {
  display: flex;
  position: absolute;
  top: 39px;
  right: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.list-nav__ref {
  text-decoration: none;
  color: #333;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.list-nav__item {
  margin-right: 85px;
}

.list-nav__item:last-child {
  margin-right: 0;
}

.list-nav__ref:hover {
  border-bottom: 2px solid #FF9900;
}

.list-nav__ref:focus {
  border: 2px solid #FF9900;
}

.list-nav__ref:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.list-nav__search:hover {

}

.list-nav__search {
  
}

.list-nav__search {
  
}

.main-container {
  position: relative;
  margin: 0 var(--gap);
}

/* Главная секция */

.sec-decisions {
  background-image: url("../img/low-angle-photo-of-balconies-2462015 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: ; */
  min-height: 620px;
  /* height: 620px; */
  border-radius: 32px;
  position: relative;
  margin-bottom: 50px;
}

.sec-decisions__conteiner {
  margin: 0;
  position: absolute;
  max-width: 837px;
  left: 80px;
  top: 100px;
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
}

.sec-decisions__h {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  margin: 0 0 24px 0;
}

.sec-decisions__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 115px 0;
}

.sec-decisions__btn {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  background: #ff9900;
  border-radius: 16px;
  text-decoration: none;
  color: #fff;
  padding: 25px 39px;
}

/* О нас */

.sec-about-us {
  font-family: 'Montserrat';
  font-style: normal;
  margin-bottom: 100px;
}

.sec-about-us__h {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin: 0 0 20px 0;
}

.sec-about-us__text {
  display: block;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 50px;
}

.list-about-us {
  max-height: 622px;
  flex-wrap: wrap;
  flex-direction:column;
}

.list-about-us__item {
  width: 870px;
  height: 295px;
  background: #FFFFFF;
  border: 1px solid var(--grey);
  border-radius: 32px;
  margin: 0 0 32px 32px;
  position: relative;
  background-repeat:no-repeat;
  background-size: cover;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 196px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.card-list {
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Montserrat';
  font-style: normal;
}

.card-list__item:last-child {
  margin-right: 0;
  margin-top: 36px;
  box-sizing: border-box;
}

.card-content__text {
  display: inline-block;
  width: 433px;
  font-weight: 700;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  /* margin: 50px 0 0 50px; */
  /* width: 433px; */
}

.card-list__item {
  margin-right: 160px;
  font-weight: 700;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.card-content__btn {
  padding: 20px 38px 20px;
  /* width: 175px;
  height: 60px; */
  border: 3px solid #FF9900;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.container-card {
  position: absolute;
  max-width: 452px;
  max-height: 157px;
  top: 65px;
  right: 118px;
}

.list-about-us__item:first-child {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  width: 868px;
  height: 622px;
  border-radius: 32px;
  margin: 0;
}

.list-about-us__item_img1 {
  /* background-color: grey; */
  background: url("../img/Rectangle 2.png");
  background-size: 868px 622px;
}

.list-about-us__item_img2 {
  background-image: url("../img/Frame 16.svg");
  background-size: 190px 165px;
  background-position: 60px 65px;
}

.list-about-us__item_img3 {
  background-image: url("../img/Frame 12.svg");
  background-size: 190px 165px;
  background-position: 60px 65px;
}

.list-about-us__item:last-child {
  margin-bottom:0;
}

.card__h {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 8px;
}

.card__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* Как мы работаем */

.sec-work {
  min-height: 646px;
  margin-bottom: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  background-image: url("../img/Rectangle 18.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 870px 460px;;
  background-position: right bottom;
  margin-bottom: 111px;
}

.sec-work__h {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 50px;
}

.sec-work-menu {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 45px;
}

.sec-work-menu__item {
  margin-right: 85px;
}

.sec-work-menu__item:last-child {
  margin: 0;
}

.sec-work__container {
  /* position: relative; */
  max-width: 758px;
}

.sec-work__h2 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.sec-work__text {
  width: 758px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.container-btn {
  margin-top: 38px;
}

.btn-contract {
  /* position: relative; */
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 20px 38px;
}

.btn-more {
  /* position: relative; */
  padding: 20px 38px;
  color: #fff;
  text-decoration: none;
  background: #ff9900;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 28px;
}

/* Часто задаваемые вопросы */

.FAQ {
  margin-bottom: 100px;
  font-family: 'Montserrat';
  font-style: normal;
}

.FAQ__h {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
}

.container-questions {

}

.container-questions__item {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding-top: 39px;
  padding-bottom: 39px;
  border-top: 1px solid var(--grey);
}

.faq__btn {
  position: absolute;
  right: 0;
  top: 31px;
  width: 50px;
  height: 50px;
  background-image: url('../img/+х.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.footer {
  font-family: 'Montserrat';
  font-style: normal;
  background-color: #000;
  height: 594px;
  color: var(--grey);
  padding: 50px var(--gap);
}

.footer__list {

}

.footer-logo {
  margin-bottom: 10px;
}

.footer__block:nth-child(1) {
  margin-right: 349px;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.footer__form {
  max-width: 570px;
}

.footer-form__h {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 25px;
} 

.footer-form__item {
  width: 570px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 25px;
  border: none;
  background: #414141;
  border-radius: 16px;
  padding-top: 5px;
  padding-left: 25px;
  color: var(--grey);
}

.footer-form__input {
  /* padding: 14px 0 0 24px; */
  height: 60px;
}

.footer-form__input:nth-child(1) {

}

.footer-form__input:nth-child(2) {

}

.footer-form__textarea {
  padding-top: 14px;
  height: 150px;
  background: #414141;
  border-radius: 16px;
}

.footer-list-nav {
  margin-bottom: 90px;
}

.footer-social-net {
  display: inline-block;
  align-self: center;
  bottom: 0;
}

.footer-social-net__item:not(:last-child) {
  margin-right: 20px;
  width: 60px;
  height: 60px;
}

.footer-social-net__item:last-child {
  margin-right: 0;
}

.footer__block:nth-child(2) {
  margin-right: 236px;
  width: 100%;
}

.footer__block:nth-child(3) {
  height: 363px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.footer-form__btn {
  margin-right: 0;
  margin-bottom: 18px;
  align-self: center;
  padding: 19px 52px;
  font-size: 12px;
  background: #ff9900;
  border-radius: 16px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 16px;
}

.form__label {
  position: relative;
  top: 3px;
}

.checkbox {
  position: relative;
  border: 1px solid var(--grey);
  border-radius: 2px;
  background-color: #000;
}

.checkbox-text {
  position: relative;
  align-items: center;
  cursor: pointer;
}

.footer__text {
  margin-top: 90px;
}